<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="IT.FOOD"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activity.manager.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrderCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.ManageProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.ManageCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShowProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.StatisticalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.manager.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConfirmOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentMedthodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FinishResetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VerificationCodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>